<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MVC</title>

    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>

    <!--Styles-->
    <link rel="stylesheet" href="css/style.css">

    <!--Scripts-->
    <script data-main="js/app" src="js/require.js"></script>
</head>

<body>

<script type="text/template" id="wrapper-template">

    <div class="wrapper">
        <h1>A Simple ToDo List</h1>
        <ul class="list"></ul>
        <div class="controls">
            <input type="text" class="item-value" placeholder="Add new task">
            <button class="item-add">Add</button>
        </div>
    </div>

</script>

<!--Template only for list items-->
<script type="text/template" id="list-template">

    <% for (var i = 0; i < data.length; i++) { %>
    <li class="list__item"><%= data[i] %><span data-value="<%= data[i] %>" class="item-edit"></span> <span
            data-value="<%= data[i] %>" class="item-delete"></span></li>
    <% }; %>

</script>

</body>
</html>